<%= link_to "Create your own cocktail", new_cocktail_path %>
<% @cocktails.each do |cocktail| %>
  <h2><%= cocktail.name %></h2>
  <p><%= link_to "Check the whole description", cocktail_path(cocktail) %></p>
<% end %>
<%= link_to "Create your own cocktail", new_cocktail_path %>
